<!-- challenges.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <script src="/static/js/script.js"></script>
    <title>Coding Challenges</title>
</head>
<body>
    <header>
        <h1>Welcome Back {{username}}!</h1>
        <h2>Coding Challenges</h2>
    </header>
    <div class="container">
        <h2>Challenge 1: Sum of Two Numbers</h2>
        <p>Write a function that takes two numbers as arguments and returns their sum.</p>
        <textarea id="code" rows="5" placeholder="Write your code here..."></textarea>
        <button onclick=submitCode()>Submit</button>
        <p id="result"></p> <!-- Display the result here -->
    </div>

    
</body>
</html>
