<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <script src="/static/js/script.js"></script>
    <title>Coding Challenge</title>
</head>
<body>
    <header>
        <h1>Algorithm Arcade</h1>
    </header>
    <div class="container">
        <h3> Please login or register </h3>
        <a href = "/login">Login</a>
       
    </div>
    <br>
    <a href = "/register">Register</a>
   
</body>
</html>
