<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <script src="/static/js/script.js"></script>
    <title>Coding Challenge</title>
</head>
<body>
    <header>
        <h2>Welcom to Algorithm Arcade, {{username}}</h2>
    </header>
    <div class="container">
        <h3> {{score}} Challenges Completed </h3>        
    </div>
    <a href = "{{ url_for('challenges') }}">Complete Challenge</button>
    <br>
    <a href = "{{ url_for('logout') }}"> Click here to logout</a>

   
</body>
</html>
