<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="static/js/script.js"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <div class="container">
        <form id="registerForm" action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Register</button>
        </form>
        {% if register_error %}
            <p id="loginStatus">{{ register_error }}</p>
        {% endif %}
        <a href="/">Back to Login</a>
    </div>
    
</body>
</html>
